body{
    margin: 0;
    padding: 0;
}

h1{
  color: blue;
  vertical-align: middle;
  margin-left: 100px;
}
#wrapper{
  background-color: green;
  width: 380px;
  padding-left: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#button{
  margin-left: 270px;
}
.language{
  margin-left: 55px;
}
.location{
  margin-left: 100px;
}
#name{
  margin-left: 85px;
}
